body {
    z-index: 1;
    position: relative;
	background-color: black;
    min-height: 100%;
}

#zoomimage img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	max-height: 90%;
	max-width: 90%;
	padding: 10px;
}

#grid img{
    display: block;
    position: relative;
    top: 50%;
    max-height: 90%;
    max-width: 90%;
    padding: 10px;
}

p {
    z-index: 1000;
    color: white;
}

#grid {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    max-height: 90%;
    padding: 10px;
}

.grid5 .container{
    text-align: center;
    width: 100px;
    height: 100px;
    float: left;
    /*border: 1px solid;*/
    /*border-color: white;*/
    margin-left: 25px;
    margin-bottom: 25px;
}

.grid4 .container{
    text-align: center;
    width: 130px;
    height: 130px;
    float: left;
    /*border: 1px solid;*/
    /*border-color: white;*/
    margin-left: 25px;
    margin-bottom: 25px;
}

.grid3 .container{
    text-align: center;
    width: 150px;
    height: 150px;
    float: left;
    /*border: 1px solid;*/
    /*border-color: white;*/
    margin-left: 25px;
    margin-bottom: 25px;
}

.grid2 .container{
    text-align: center;
    width: 200px;
    height: 200px;
    float: left;
    /*border: 1px solid;*/
    /*border-color: white;*/
    margin-left: 25px;
    margin-bottom: 25px;
}

#selected {
    position: relative;
    top: 50%;
    max-height: 90%;
    max-width: 90%;
    padding: 10px;
    border: solid 1px darkred;
}

#zoomWindow {
     text-align: center;
     z-index: 999;
     top: 20%;
     left: 0px;
     position: fixed;
     background: rgba(0,0,0,0.8);
     width: 100%;
     height: 100%;
}

#zoomedImage {
    position: relative;
    max-height: 90%;
    max-width: 90%;
    padding: 10px;
}

