body {
    z-index: 1;
    position: relative;
	background-color: black;
    min-height: 100%;
}

img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	max-height: 90%;
	max-width: 90%;
	padding: 10px;

}

#zoomedImage {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 90%;
    max-width: 90%;
    padding: 10px;
}

.container {
    text-align: center;
	width: 200px;
    height: 200px;
    float: left;
	/*border: 1px solid;*/
	/*border-color: white;*/
	margin-left: 25px;
    margin-bottom: 25px;
}

#zoomWindow {
    text-align: center;
    z-index: 999;
    top: 0;
    left: 0;
	position: fixed;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
}