body {
	background-color: #CCFFCC;
}

#title {
	width: 100%;
	height: 5%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	text-align: center;
	background-color: #339933;
	border: 1px solid;
}

h1 {
	font-family: 'Old Standard TT', serif;
	font-style: italic;
	color: white;
	margin: 0;
}

p {
	color:#FFFF00;
}

.figure {
	display: block;
	margin: 0 auto; 
	text-align: center;
	max-height: 80%;
	max-width: 70%;
	border: 20px solid #FFFF00;	
}

.figure:hover { border: 20px solid red; }

.divRow {
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
	display: table;
	display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	
}

.container {	
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	float: left;
	width: 33%;	
	border: 1px solid;
	background-color: #339933;
	padding: 1%;
	
}

.container1 {	
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	top: 0; bottom: 0;
	float: left;
	width: 34%;	
	border: 1px solid;
	background-color: #339933;
	padding: 1%;
	
}

.container2 {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	float: left;
	width: 33%;	
	border: 1px solid;
	background-color: #339933;
	padding: 1%;

}

.table {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	float: left;
	width: 67%;	
	border: 1px solid;
	background-color: #339933;
	padding: 1%;
	text-align: center;
}

table {
	width: 100%;
	max-width: 600px;
    background-color: #FFFFCC;
    font-style: italic;
    margin: 0 auto;
}

th {
	color: green;
}

td:first-child {
	font-weight: bold;
}

td {
	border: 1px solid green;
}